/* .inp { */
    /* margin-left: 40%; */
/* } */

body{
  background-color: cornflowerblue;
 }

 /* .input {
    margin-left: 20%;
 } */

 .b77 {
    margin-left: 40%;
    margin-top: 10%;
    border-radius: 10px;
    height: 30px;
    width: 140px;
 }

t76 {
   height: 20px;
   width: 70px;
   border-radius: 5px;
} 